*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.col-1 { width: 8.33%}
.col-2 { width: 16.66%}
.col-3 { width: 25%}
.col-4 { width: 33.33%}
.col-5 { width: 41.66%}
.col-6 { width: 50%}
.col-7 { width: 58.33%}
.col-8 { width: 66.66%}
.col-9 { width: 75%}
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%}
.col-12 { width: 100%}

[class*='col-']{
    float: left;
    border: 1px solid gray;
}

.row:after{
    content: '';
    clear: both;
    display: block;
}

.container{
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.header-top{ height: 30px;}
.header-bottom{ height: 200px;}
.menu { height: 50px;}
.content{ min-height: 700px;}
.sidebar-height{ height: 700px;}
.big-footer{ height: 250px;}
.footer{ height: 30px;}


.height-300{ height: 300px; }
.height-310{ height: 310px; }
.width-46 { width: 46%;}
.margin-all{ margin: 30px 4.2%;}
.margin-left{ margin-left: 4.2%}

.height-333 { height: 333px;}
.saidber-margin-one { margin: 10px 4.2%;}
.saidber-margin-two { margin: 0px 4.2% 10px;}

.big-display{ display: none;}


@media screen and (max-width: 500px){
    [class*='col-']{
        width: 100%;
    }

    .small-width{ width:92%;}
    .small-contain-margin { margin:30px 4.2%;}
    .small-saidber-margin { margin: 5px 4.2%}
}

@media screen and (min-width: 501px) and (max-width: 800px){
    .col-t1 { width: 8.33%}
    .col-t2 { width: 16.66%}
    .col-t3 { width: 25%}
    .col-t4 { width: 33.33%}
    .col-t5 { width: 41.66%}
    .col-t6 { width: 50%}
    .col-t7 { width: 58.33%}
    .col-t8 { width: 66.66%}
    .col-t9 { width: 75%}
    .col-t10 { width: 83.33%}
    .col-t11 { width: 91.66%}
    .col-t12 { width: 100%}

    .position-relative { position: relative; }
    .add-position-tab {
        position: absolute;
        top:0px;
        right: 0px;
    }
    .display-none { display: none;}
    .sidebar-height{ height: 350px;}
    .big-display{ display: block;}
}